<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: head"></th:block>

<body>
<div class="container-fluid text-white text-center p-3 mt-4" style="background: #232F3E">
    <h1 th:text="${#strings.defaultString(currentRegion, '리전 못찾음 코드 다시 작성')}"></h1>
    <p>Global Network Map</p>
</div>
<div class="container mt-3">
    <div class="row mt-2"> <!-- 이 영역은 콘텐츠 4개를 포함합니다.-->
        <!-- col-md-숫자는 콘텐츠영역입니다.  -->
        <div class="col-md-3">
            총 5개의 Region이
        </div>
        <div class="col-md-3">
            TGW 로 연결되어 있음
        </div>
        <div class="col-md-3">
            Tokyo가 main Region
        </div>
        <div class="col-md-3">
            Oregon에도 DB 생성 예정
        </div>
    </div>
    <div class="card mt-3" style="height:700px">
        <div id="map"></div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    var regionCode = /*[[${regionCode}]]*/;
    var regionName = /*[[${regionName}]]*/;
    var markerList = /*[[${markerList}]]*/;
    var anotherRegionList = /*[[${regionForLine}]]*/;
    var allRegionList = /*[[${allRegion}]]*/;

    var valueOption = new Object();
    var scaleOption = new Object();

    var lineOption;
    var line = [];
    var color = ["#ffc371", "#c79efd", "#F08080", "#20B2AA", "#6495ED"];

    anotherRegionList.forEach((element, index) => {
        lineOption = {
            from: element,
            to: regionName,
        };
        line.push(lineOption);
    });

    allRegionList.forEach((element, index) => {
        scaleOption[element] = color[index];
        valueOption[index] = element;
    });


    console.log(lineOption)

    var map = new jsVectorMap({
        selectedRegions: [regionCode],
        regionStyle: {
            fill: '#7D8998',
            selected: {fill: '#FFE359'},
            selectedHover: {fill: '#ff5566'}
        },
        selector: "#map",
        map: "world",
        lineStyle: {
            stroke: "#ff5566",
            strokeWidth: 1.5,
            fill: '#ff5566',
            fillOpacity: 1,
            strokeDasharray: '6 3 6', // OR: [6, 2, 6]
            animation: true, // Enables animation
        },
        backgroundColor: "#161E2D",
        markers: markerList,
        lines: line,
        visualizeData: {
            scale: ['#eeeeee', '#999999'],
            values: {
                CA: 29,
                US: 100,
                SG: 190,
                JP: 160,
                GB: 75,
                // ...
            }
        },
        // focusOn: {
        //     regions: ['CN', 'CA'],
        //     animate: true
        //     // ...
        // },
        labels: {
            markers: {
                // Starting from jsvectormap v1.2 the render function receives
                // the marker object as a first parameter and index as the second.
                render(marker, index) {
                    return marker.name || marker.labelName || 'Not available'
                }
            }
        },
        series: {
            markers: [{
                attribute: "fill",
                legend: {
                    title: "Region (Markers)",
                },
                scale: scaleOption,
                values: valueOption
            }]
        }

    });
    /*]]>*/

</script>

</body>
</html>



